<template>
  <h1 class="tp-logo">
    <slot />
  </h1>
</template>

<script>
export default {
  name: 'TpLogo'
}
</script>

<style lang="scss">
@import '../../assets/sass/global.scss';

.tp-logo {
  @apply uppercase text-3xl;
  letter-spacing: 0.1em;
  color: $primary;

  a {
    @apply no-underline;
    color: inherit;
  }
}

@screen sm {
  .tp-logo {
    @apply text-xl;
  }
}
</style>
