<template>
  <header class="tp-site-header">
    <TpLogo>
      <a href="#">
        HypeDeals
      </a>
    </TpLogo>
    <div class="tp-site-header-control">
    </div>
  </header>
</template>

<script>
import TpLogo from '../TpLogo'

export default {
  name: 'TpSiteHeader',

  components: {
    TpLogo
  }
}
</script>

<style lang="scss">
@import '../../assets/sass/global.scss';

.tp-site-header {
  @apply fixed z-10 w-screen;
  @apply flex items-center justify-between;
  @apply pl-10 h-32;
  @apply bg-white;
  border-bottom: 1px solid $primary;

  .tp-site-header-control {
    @apply flex h-full;
  }
}

@screen sm {
  .tp-site-header {
    @apply pl-6 h-24;
  }
}
</style>
